<h1>Kid show page</h1>

<!-- display their feeling, their age, and their name -->
Name: <%= @kid.name %>
</br>
Age: <%= @kid.age %>
</br>

  <p>Feeling: <%= @kid.feeling if @kid.feeling %></p>


<h3>Candy Count: <%= @kid.bucket.candies.count if @kid.bucket %></h3>


<% if @kid.bucket %>
<ul>
<% @kid.bucket.candies.each do |candy|%>
  <li>Name: <%= candy.name %></li>
  </br>
<% end %>
</ul>
<% end %>

  <h3>Let <%= @kid.name %> pig out!</h3>
<form action="/kids/<%= @kid.id %>/pig-out" method="POST">
<input type="hidden" name="_method" value="patch">
  <label>How many candies do you want to feed <%= @kid.name %>?</label>
<input type="number" name="consumption">
<input type="submit" value="Submit">
</form> 
</br>

  <a href='/houses'>Go trick-or-treating</a>

<!-- code the form that will send a patch to "/kids/:id/pig-out"
give it a consumption key with a value of number of candies to eat 
type="number" is probably better than type="text" -->

<!-- puts a link to the houses index page here and call the link "Go trick-or-treating" -->